/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}


/*__________________________*/

.hero-item-orange:last-child {
    cursor: pointer;
    background-color: #f57c00;
}

.features__item {
    width: 270px;
    height: 120px;
    border: 1px solid white;
}

.features__item:last-child {
    background: #f57c00;
}

.features__item--img {
    width: 50px;
    height: 50px;
}

.features__item-text {
    font-size: 16px;
    line-height: 20px;
    color: #FFFF;
    margin-left: 15px;
}

.hero__img {
    display: block;
    width: 100%;
}


@media (max-width: 374px) {
    .hero {
        width: 100%;
        height: 190px;
        background-size: 1100px auto;
        background-position: left -210px top -20px;
    }

}

.slider-img {
    display: block;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.relative {
    position: relative;
}

.prev{
    position: absolute;
    top: 10%;
    left: 3%;
}

.next {
    position: absolute;
    top: 10%;
    right: 3%;
}

@media (min-width: 768px) {
    .prev{
        left: 15%;
    }

    .next {
        right: 15%;
    }
}

@media (min-width: 992px) {
    .prev{
        left: 23%;
    }

    .next {
        right: 23%;
    }
}

@media (min-width: 1200px) {
    .prev{
        left: 27%;
    }

    .next {
        right: 27%;
    }
}